#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 12px 0px;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.4);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--gray-bar);
  padding-top: 20px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar__twice {
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.user-component__avatar__twice__ {
  width: 50px;
  height: 50px;
}

.user-component__avatar__twice :last-child {
  position: absolute;
  left: 20px;
  top: 20px;
}
